html{
    font-family: 'Playfair Display', serif;
}
.navigation li{
    display: inline-block;
    margin-right: 99px;
}
.navigation ul{
    text-align: center;
}
.navigation a{
    color: #7D7D7D;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation a:hover{
    color: #03A9F4;
}
.photoblock{
    width: 420px;
    padding: 92px  32.5px 32px;
}
.photoblock:nth-child(odd){
    padding-left: 300px; /*намагаюсь поставити блоки посередині*/
}
.photoblock h3{
    color:#B4AD9E;
    font-family: 'Ubuntu';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 62px;
}
.photoblock h2{
    color:#626262;
    font-weight: 400;
    font-size: 30px;
}
.photoblock p{
    color:#626262;
}
button{
    margin: 0 auto;
    display: block;
    border: 1px solid #626262;
    width: 165px;
    height: 60px;
    background-color: transparent;
    font-family: 'Playfair Display';
    color: #626262;
    margin-top: 94px;

}